'exception-reporting':
  'userId': '3b3c8f46-fca9-bb9d-6e1e-3b62bafd956e'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '2c4e3ff66aa463b0771cad07febcdad8b2c85765'
'editor':
  'fontSize': 12
  'softTabs': false
  'fontFamily': 'Menlo'
'core':
  'themes': [
    'spacegray-dark-ui'
    'dracula-theme'
  ]
  'disabledPackages': [
    'wrap-guide'
  ]
'autosave': {}
'atom-spotify':
  'showEqualizer': true
'autocomplete-plus': {}
